/* #NAVIGATION
================================================== */

#nav-links {
  background: $base-color-grey;
  color: $base-color-white;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  #nav-links-menu {
    display: none;
    padding: 0.8em 1.5em;
    cursor: pointer;
  }
  ul {
    display: block;
    margin: 0;
    text-align: center;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    li {
      margin: 0;
      list-style: none;
      display: inline-block;
      cursor: pointer;

      a {
        color: $base-color-white;
        text-decoration: none;
        display: inline-block;
        padding: 0.9em 1.5em 0.8em 1.5em;
      }
      a:hover {
        color: $base-color-black;
        background: $nav-color-grey;
      }
      .active {
        color: $base-color-black;
        background: $nav-color-grey;
      }
    }
  }
}

.content {
  padding: 1.5em;
}
@media all and (max-width: 767px) {
  #nav-links {
    #nav-links-menu {
      display: block;
    }
    ul {
      display: none;
      background: $mob-color-grey;
      padding: 1em;
      text-align: left;
      li {
        display: block;
        a {
          display: block;
          padding: 0.75em 1.5em 0.5em 1.5em;
        }
      }
    }
  }
}
