/*Variables*/
$base-color-green: #538e4a;
$base-color-black: #000000;
$base-color-white: #f1f1f1;
$base-color-blue: #567284;
$base-font-family: 'Roboto', sans-serif;
$link_font-family: 'Dancing Script', cursive;
$title-font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Arial, sans-serif !important;
$base-border-radius: 5px;
$img-radius: 50%;
